
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

.container {
    width: auto;
    height: auto;
    margin: auto;
}

.top-bar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 3rem;
}

.top-bar input{
    display: flex;
    width: 22rem;
    height: 5rem;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 2.5rem;
    padding-left: 2.5rem;
    color: #626262;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #ebfffc;
    border-radius: 2.5rem;
    cursor: pointer;
}

.weather-image{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.weather-temp {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 7.5rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.weather-location {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.data-container {
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.data {
    font-size: 34px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.text {
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.forecast-text {
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.icon {
    margin-top: 10px;
}

.title {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    color: #b87333;
}

.forecast-container {
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.forecast-element {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.forecast-min {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.error-message {
    margin-top: 50px;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 5rem;
}